:root {
  --green: #3e885b;
  --dark-green: #275439;
  --green-2: #339966;

  --red: #822000;
  --dark-red: #731a00;
  --light-red: #ee4102;

  --white: #f7f5f3;
  --white-2: #e7e0da;
  --white-3: #ded6ce;

  --primary-black: #131b20;

  --grey: #1d2a2f;
  --grey-2: #364e59;
  --light-grey: #557a8b;

  --khaki: #c2b7a5;

  --text-face: var(--primary-black);
  --text-inverted: var(--white);
  --text-faded: var(--light-grey);

  --input-bg: var(--white);
  --hover-white: var(--white-3);
  --hover-grey: var(--grey-2);

  --page-background-white: var(--white-2);
  --card-background-white: var(--white);
  --page-bg-inverted: var(--grey);
  --zebra-white: var(--white-2);
  --accent-white: var(--white-3);
  --tab-face-white: var(--white-2);
  --tab-face-selected-white: var(--white-3);

  --text-header: var(--red);
  --hover-hp-red: var(--light-red);
  --button-text-hover: var(--red);

  --selection-border: var(--dark-green);
  --light-border: var(--white);
  --dark-border: var(--grey);

  --button-face: var(--red);
  --button-face-green: var(--green);
  --button-face-hover-green: var(--green-2);
  --button-text-disabled: var(--grey-2);
  --button-face-disabled: var(--white-2);
  --button-text: var(--primary-black);

  --modal-bg: rgba(0, 0, 0, 0.7);
}

.dark-mode {
  --text-face: var(--white-2);
  --text-inverted: var(--primary-black);
  --input-bg: var(--grey);
  --hover-white: var(--grey);

  --page-background-white: var(--grey);
  --page-bg-inverted: var(--light-grey);
  --card-background-white: var(--grey-2);
  --zebra-white: var(--light-grey);
  --accent-white: var(--primary-black);
  --tab-face-white: var(--grey);
  --tab-face-selected-white: var(--light-grey);

  --text-header: var(--red);
  --hover-hp-red: var(--light-red);
  --button-text-hover: var(--red);

  --selection-border: var(--dark-green);
  --dark-border: var(--grey);

  --button-face: var(--red);
  --button-face-green: var(--green);
  --button-face-hover-green: var(--green-2);
  --button-text-disabled: var(--white-2);
  --button-face-disabled: var(--grey);
  --button-text: var(--white-2);

  --modal-bg: rgba(0, 0, 0, 0.7);
}

// TODO: move all rules to associated .less module.

* {
  scrollbar-color: var(--tab-face-white) var(--card-background-white);
}

.colors(@text, @background, @border: var(--dark-border)) {
  color: @text;
  background-color: @background;
  border-color: @border;
}

.green-button() {
  .colors(var(--text-inverted), var(--button-face-green), var(--dark-border));

  &:hover {
    color: var(--text-inverted);
    background-color: var(--button-face-hover-green);
  }
}

.c-toolbar,
.settings,
.tutorial {
  .colors(var(--text-face), var(--card-background-white));
}

.c-toolbar {
  .colors(var(--text-inverted), var(--grey));
}

.tutorial .next,
.login.button,
button.p-privacy-policy-optin {
  .green-button();
}

.combat-footer {
  background-color: var(--grey);
  a {
    color: var(--text-inverted);
  }
}

.combatant-portrait-caption {
  color: var(--text-inverted);
}

input[type="checkbox"] {
  color: var(--text-inverted);
}

.c-button.c-button--disabled,
.c-button.c-button--disabled:hover {
  color: var(--button-text-disabled);
  background-color: var(--button-face-disabled);
  border-color: var(--dark-border);
}

div.awesomplete li {
  color: var(--text-face);
}
