:root {
  --selection-green: #00643c;
  --active-green: #2d9e62;

  --primary-white: #fff;
  --input-white: var(--primary-white);
  --hover-white: #e6e6e6;

  --zebra-white: #f5f1eb;
  --accent-white: #c2b7a5;
  --tab-face-white: #e6e6e6;
  --tab-face-selected-white: #cccccc;

  --primary-red: #822000;
  --hover-red: #a62d00;
  --accent-red: #731a00;

  --primary-black: #0a0908;
  --disabled-black: #2b2a28;

  --primary-grey: #212121;
  --hover-grey: #424242;
  --light-grey: #9e9e9e;

  --button-face: var(--primary-red);
  --button-face-green: var(--active-green);
  --button-face-hover-green: #339966;
  --button-face-disabled: #b3b3b3;
  --button-text: var(--primary-black);
  --shadow: #999;

  --modal-background-color: rgba(0, 0, 0, 0.7);
}

// TODO: move all rules to associated .less module.

.colors(@text, @background, @border: var(--shadow)) {
  color: @text;
  background-color: @background;
  border-color: @border;
}

.green-button() {
  .colors(var(--primary-white), var(--button-face-green), var(--shadow));

  &:hover {
    color: var(--primary-white);
    background-color: var(--button-face-hover-green);
  }
}

.c-toolbar,
.settings,
.tutorial {
  .colors(var(--primary-black), var(--primary-white));
}

.c-toolbar {
  .colors(var(--primary-white), var(--primary-grey));
}

.tutorial .next,
.login.button,
button.p-privacy-policy-optin {
  .green-button();
}

.combat-footer {
  background-color: var(--primary-grey);
  a {
    color: var(--primary-white);
  }
}

.combatant-portrait-caption {
  color: var(--primary-white);
}

input[type="checkbox"] {
  color: var(--primary-white);
}

.c-button.c-button--disabled,
.c-button.c-button--disabled:hover {
  color: var(--disabled-black);
  background-color: var(--button-face-disabled);
  border-color: var(--disabled-black);
}

div.awesomplete li {
  color: var(--primary-black);
}
