@import "node_modules/font-awesome/less/variables.less";
@import "node_modules/font-awesome/less/font-awesome.less";
@import "node_modules/font-awesome/less/icons.less";
@import "http://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin";
@import "http://fonts.googleapis.com/css?family=Josefin+Slab&subset=latin";

* {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
	padding: 0;
	cursor: default;
}

h1 {
    font-family: 'Josefin Slab', serif;
}
