@import "node_modules/font-awesome/less/variables.less";
@import "node_modules/font-awesome/less/font-awesome.less";
@import "node_modules/font-awesome/less/icons.less";

@pRed-0: #8B0000;	/* Main Primary color */
@pRed-1: #CE3434;
@pRed-2: #AB1616;
@pRed-3: #660000;
@pRed-4: #3C0000;

@pBlue-0: #005353;	/* Main Secondary color (1) */
@pBlue-1: #1F7C7C;
@pBlue-2: #0D6767;
@pBlue-3: #003D3D;
@pBlue-4: #002424;

@pGreen-0: #568200;	/* Main Secondary color (2) */
@pGreen-1: #90C030;
@pGreen-2: #71A014;
@pGreen-3: #3F5F00;
@pGreen-4: #253800;

*{
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	cursor: default;
}

.zebra-stripe(@color:lightgray;@offcolor:transparent;) {
	&:nth-child(2n){
		background-color: @color;
		border-color: @color;
		input{
			background-color: @color;
			&:hover, &:focus {
				background-color: white;
			}
		}
	}
	&:nth-child(2n+1){
		background-color: @offcolor;
		border-color: @offcolor;
		input{
			background-color: @offcolor;
			&:hover, &:focus {
				background-color: white;
			}
		}
	}
}

.outline {
	border: 1px solid @pBlue-0;
	border-radius: 4px;
	background-color: rgba(0,0,0,0.1);
	&.button:hover {
		background-color: rgba(0,0,0,0.3);
	}
}
.button {
	cursor:pointer;
}
.fa-clickable {
	cursor:pointer;
	.fa();
}

html{
	height: 100%;
}

#playerview li.creature {
	border-left-width: 10px;

	&.active .name {
		text-decoration: underline;
	}

	&.hidden {
		display:none;
	}

	&:not(.playercharacter){
		font-style: italic;
	}
	line-height: 64px;
	font-size: 200%;
	.initiative {
		width: 50px;
	}
	.name {
		width: 330px;
	}
	.hp {
		width: 230px;
		&:hover {
			background-color: inherit;
		}
	}
    .tags {
        flex-grow: 2;
        .tag {
            line-height: 46px;
            font-size: inherit;
        }
    }
}

body{
	display: flex;
	flex-direction: column;
	height: 100%;

	input {
		cursor: auto;
	}

	h1 {
		font-size:large;
		padding: 5px;
		background-color: @pRed-0;
		color: white;
		margin-bottom: 5px;
		min-height: 2em;
	}

	.views {
		display: flex;
		flex-direction: row;
		flex-grow: 1;
		height: 300px;

		div, li {
			cursor: default;
		}
	}

	.modalblur {
		position: fixed;
		left:0;
		top:0;
		height:100%;
		width:100%;
		background-color: rgba(0,0,0,0.7);
		z-index: 9;
	}
	
	.modal {
		border: 2px solid gray;
		border-radius: 4px;
		padding: 5px;
		position: fixed;
		right: 0;
		left: 0;
		top: 100px;
		margin: auto;
		z-index: 10;
		background-color: #ffffff;
		width: 450px;
	}
    
    .commands {
        div {
			display: flex;
			.label {
				display:inline-block;
				margin-right: 10px;
				flex-grow:1;
			}
			.keybinding {
				width: 40px;
				margin: 4px;
			}
			.actionbaricon {
				width: 24px;
				margin: 4px;
				text-align:center;
			}
			.showonactionbar {
				margin: 4px;
			}
		}
		.savekeybindings {
            text-align:right;
            input {
                padding: 3px;
                margin-right: 3px;
                margin-left: auto;
            }
		}
        .about {
            margin: 10px 0px;
        }
    }

	.preview.statblock, .preview.encounter {
		position: fixed;
		left: 376px;
		top: 10px;
		max-height: 90%;
		background-color: rgb(255,255,255);
		z-index: 5;
		border: 2px solid gray;
		border-radius: 2px;
	}
	
	.libraries {
		position: fixed;
		left: 0px;
		top: 0px;
		height: 100%;
		width: 400px;
		background-color: white;
		z-index: 3;
		display: flex;
		flex-direction:column;
		.tabs {
			height: 25px;
			border-bottom: 1px solid darkgray;
			padding: 4px;
			div {
				display:inline-block;
				padding: 5px;
				border: 1px solid;
				border-bottom: 0px;
				&:hover {
					background-color: lightgray;
				}
				&.selected {
					background-color: darkgray;
				}
			}
		}
	}
	.filter-library {
		margin: 5px;
		min-height: 2em;
	}
	ul.library {
		flex-shrink: 1;
		list-style-type: none;
		overflow-y: scroll;
		li {
			&:nth-child(2n) .fa {
				background-color: #f0f0f0;
			}
			line-height: 24px;
			margin: 1px;
			display:flex;
			.fa {
				&:first-child {
					flex-grow: 1;
				}
				padding: 2px 6px;
				margin-left: 1px;
				border: 1px solid @pRed-0;
				border-radius: 4px;
				&:hover{
					background-color:lighten(gray, 30%);
				}
			}
		}
	}

	.encounter {
		display: flex;
		flex-direction: column;
		
		.combatants{
			
			.creature {
				border-left-color:auto;
				background-color: lightgray;
				&:hover {
					background-color: darkgray;
				}
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				line-height: 32px;
				border-left: 5px solid;
				&.active {
					border-left-color: @pGreen-0;
					.name{
						font-weight: bold;
					}
				}
				&.selected {
					background-color: darken(darkgray, 5%);
				}
				
				list-style-type: none;

				
				div {
					display: inline-block;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
				
				.initiative {
					width:25px;
					text-align:center;
				}
				
				.name {
					padding-left: 6px;
					width:220px;
					overflow-x: hidden;
				}
				
				.hp {
					position:relative;
					width:115px;
					text-align:center;

					&:hover{
						background-color: rgba(100,0,0,0.5);
					}

					&.applyDamage{
						background-color: rgba(255,0,0,0.5);
					}
					&.applyTemporaryHP{
						background-color: rgba(0,200,0,0.5);
					}
					
					input {
						position:absolute;
						border:3px solid red;
						right: 0px;
						top: -23px;
						width:40px;
					}
				}

				.ac{
					width:30px;
					text-align:center;
				}

				.tags {
					flex-grow: 1;
                    input {
						width: 50px;
					}
					.tag {
						font-size: small;
						line-height: 24px;
						padding: 0 4px;
						.fa-remove {
							margin-left: 4px;
						}
					}
				}
                .buttons {
                    padding: 0 4px;
                }
			}

			.creature.header {
				background-color: black;
				border-color:black;
				color: white;
				text-align:center;
				.hp {
					text-align:center;
					&:hover{
						background-color: inherit;
					}
				}
			}
		}
	}
    .user-response-requests {
        border: 2px solid @pRed-0;
        border-radius: 4px;
        margin: 8px;
        padding: 8px;
        button {
            margin-left: 6px;
            padding: 6px;
        }
    }
	.statblock{
		width: 400px;
		overflow-y: scroll;
		
		>div {
			margin: 3px;
			* {
				font-family: serif;
			}
		}

		hr {
			margin: 5px 0px;
			background-color: @pRed-0;
			border: none;
			height: 1px;
		}

		.csv{
			&::after {
				content: ', ';
			}
			&:last-child::after{
				content: '';
			}
		}

		.label {
			font-weight:bold;
		}
		.notes {
			font-style: italic;
		}
		.Name {
			color:@pRed-0;
			font-weight:bold;
			font-size: large;
		}
		.Abilities {
			display: flex;
			>div {
				flex-grow: 1;
				text-align:center;
				.label{
					text-transform: uppercase;
				}
			}
		}
	}
	.tracker, .editor {
		flex-grow: 1;
	}

	.editor {
		.stats label {
			display: flex;
			flex-direction: row;
			width: 300px;
			justify-content: space-between;
		}
		.json-editor {
			width: 400px;
			height: 300px;
		}
	}

	.interface-buttons {
		display:flex;
		flex-direction:row-reverse;
		flex-wrap:wrap;
		background-color: rgba(0,0,0,0.1);
		min-height: 42px;
		>div {
			padding: 10px;
			margin: 2px;
			width: 24px;
			text-align:center;
			.button();
			.outline();
			&:hover {
				background-color: rgba(0,0,0,0.2);
			}
			&.highlight{
				background-color: rgb(60, 179, 80);
				&:hover {
					background-color: rgb(80, 189, 90);
				}
			}
		}
	}
}