* {
	cursor: default;
	border: 1px solid transparent;
	font-family: sans-serif;
}

input {
	cursor: auto;
}

h1 {
	font-size:large;
}

.encounter {
	border: 1px solid black;
}

.encounter .selected {
	border: 1px solid black;
}

.creature div {
	display: inline-block;
}

.creature .initiative {
	width:20px;
}

.creature .name {
	width:150px;
}

.hp {
	position:relative;
	display:inline-block;
}

.hp form {
	display:inline-block;
}

.hp input {
	position:absolute;
	border:3px solid red;
	left: 30px;
	top: -23px;
	width:20px;
}

.hp:hover{
	border: 1px solid red;
}