* {
	cursor: default;
	border: 1px solid transparent;
	font-family: sans-serif;
}

input {
	cursor: auto;
}

h1 {
	font-size:large;
}

.encounter {
	border: 1px solid black;
	
	.combatants{
		padding-left:0px;
		
		.creature {
			list-style-position:inside;
			padding-left:10px;
			
			&.selected {
				border: 1px solid black;
			}
			
			div {
				display: inline-block;
			}
			
			.initiative {
				width:20px;
			}
			
			.name {
				width:150px;
			}
			
			
			.hp {
				position:relative;
				&:hover{
					border: 1px solid red;
				}
			
				form {
					display:inline-block;
				}
				
				.max-hp::before {
					content: '/';
				}
				
				input {
					position:absolute;
					border:3px solid red;
					left: 30px;
					top: -23px;
					width:20px;
				}
			}
		}
	}
}