<div class="Image" data-bind="visible: ImageURL">
  <img data-bind="attr:{src: ImageURL}">
</div>

<h3 class="Name" data-bind="text: Name"></h3>

<div class="Source" data-bind="text: Source"></div>
<div class="Type" data-bind="text: Type"></div>

<hr />

<div class="AC">
    <span class="stat-label">Armor Class</span>
    <span data-bind="text: AC.Value"></span>
    <span class="notes" data-bind="statBlockText: AC.Notes"></span>
</div>

<div class="HP">
    <span class="stat-label">Hit Points</span>
    <span data-bind="text: HP.Value"></span>
    <span class="notes" data-bind="statBlockText: HP.Notes"></span>
</div>

<div class="speed">
    <span class="stat-label">Speed</span>
    <span data-bind="statBlockText: Speed.join(', ')"></span>
</div>

<div class="Abilities" data-bind="foreach: ['Str', 'Dex', 'Con', 'Int', 'Wis', 'Cha']">
    <div>
        <div class="stat-label" data-bind="text: $data"></div>
        <div class="score" data-bind="css: $data, text: $parent.Abilities[$data]"></div>
        <div class="modifier" data-bind="css: $data, 
            modifierFromAbilityScore: $parent.Abilities[$data]">
        </div>
    </div>
</div>

<hr />

<div class="modifiers" data-bind="foreach: ['Saves', 'Skills']">
    <div data-bind="visible: $parent[$data].length, css: $data">
        <span class="stat-label" data-bind="text: $data"></span>
        <!-- ko foreach: $parent[$data] -->
        <span data-bind="text:Name"></span>
        <span class="csv" data-bind="statBlockText: (Modifier >= 0?'+':'-') + Modifier"></span>
        <!-- /ko -->
    </div>
</div>

<div class="keyword-sets" data-bind="foreach: ['Senses','DamageVulnerabilities','DamageResistances','DamageImmunities','ConditionImmunities','Languages']">
    <div data-bind="visible: $parent[$data].length, css: $data">
        <span class="stat-label" data-bind="uiText:$data"></span>
        <span class="csv" data-bind="statBlockText: $parent[$data].join(', ')"></span>
    </div>
</div>

<div class="Challenge" data-bind="visible: Challenge">
    <!-- ko if: Player == "player" -->
    <span class="stat-label">Level</span>
    <!-- /ko -->
    <!-- ko ifnot: Player == "player" -->
    <span class="stat-label">Challenge</span>
    <!-- /ko -->
    <span data-bind="text:Challenge"></span>
</div>

<hr />

<!-- ko foreach: ['Traits','Actions','Reactions','LegendaryActions'] -->
<div data-bind="if: $parent[$data].length, css: $data">
    <h4 data-bind="uiText: $data, visible: $parent[$data].length"></h4>
    <div data-bind="foreach: $parent[$data]">
        <div>
            <span class="stat-label" data-bind="text: Name"></span>
            <span class="stat-label" data-bind="visible: Usage, text: Usage"></span>
            <span class="power-content" data-bind="statBlockText: Content"></span>
        </div>
    </div>
    <hr />
</div>
<!-- /ko -->

<div class="Description" data-bind="visible: Description">
    <h4>Description</h4>
    <span data-bind="statBlockText: Description"></span>
</div>
