<div class='roll-initiative' data-bind="focusOnRender: InputSelector">
    <p>Roll Initiative</p>
    <ul class="playercharacters" data-bind="foreach: PlayerCharacters">
        <li>
            <span data-bind="text: Prompt, css: Css"></span>
            <input class='response' type='number' data-bind='attr: {"id": "initiative-" + Id}, value: PreRoll' />
        </li>
    </ul>
    <ul class="nonplayercharacters" data-bind="foreach: NonPlayerCharacters">
        <li>
            <span data-bind="text: Prompt, css: Css"></span>
            <input class='response' type='number' data-bind='attr: {"id": "initiative-" + Id}, value: PreRoll' />
        </li>
    </ul>
    <button type='submit' class='fas fa-check button'></button>
</div>