<div class="tabs">
    <span data-bind="click: CurrentTab.with('about'), css: { selected: CurrentTab() == 'about' }">About</span>
    <span data-bind="click: CurrentTab.with('keybindings'), css: { selected: CurrentTab() == 'keybindings' }">Commands</span>
    <span data-bind="click: CurrentTab.with('options'), css: { selected: CurrentTab() == 'options' }">Options</span>
    <span data-bind="click: CurrentTab.with('account'), css: { selected: CurrentTab() == 'account' }">Account</span>
</div>
<div data-bind="visible: CurrentTab() == 'about'" class="tab about">
    <div>
        <p><strong>Improved Initiative</strong> was created by <a href="mailto:improvedinitiativedev@gmail.com">Evan Bailey</a>.
            All Wizards of the Coast content provided under terms of the <a href="{{rootDirectory}}/SRD-OGL_V1.1.pdf" target="_blank">Open Gaming License Version 1.0a</a>.</p>
    </div>
    <div class="support">
        Love Improved Initiative?
        <div class="fb-like" data-href="https://www.facebook.com/improvedinitiativeapp/" data-layout="button" data-action="recommend"
            data-size="large" data-show-faces="false" data-share="false"></div>
        <a class="pledge" href="https://www.patreon.com/improvedinitiative" target="_blank"><img src="/img/become_a_patron_button.png" /></a>

    </div>
    <div class="tips">
        <span data-bind="click: PreviousTip" title="Previous Tip" class="fa-clickable fa-arrow-left"></span>
        <span data-bind="html: Tip"></span>
        <span data-bind="click: NextTip" title="Next Tip" class="fa-clickable fa-arrow-right"></span>
    </div>
    <span class="button repeat-tutorial" data-bind="click: RepeatTutorial">Repeat Tutorial</span>
</div>
<div data-bind="visible: CurrentTab() == 'keybindings'" class="tab keybindings">
    <h2>Encounter Commands</h2>
    <div class="command-options-labels">
        <span class="hotkey-label">Hotkey</span>
        <span class="toolbar-label">Show on Toolbar</span>
    </div>
    <!--ko foreach: EncounterCommands -->
    <div>
        <span class="command-description" data-bind="text: Description"></span>
        <input class="keybinding" type="text" data-bind="value: KeyBinding" />
        <label class="toolbar-setting">
            <i class="fa" data-bind="css: ActionBarIcon"></i>
            <input type="checkbox" data-bind="checked: ShowOnActionBar, disable: LockOnActionBar" />
        </label>
    </div>
    <!--/ko -->
    <h2>Combatant Commands</h2>
    <!--ko foreach: CombatantCommands -->
    <div>
        <span class="command-description" data-bind="text: Description"></span>
        <input class="keybinding" type="text" data-bind="value: KeyBinding" />
        <label class="toolbar-setting">
            <i class="fa" data-bind="css: ActionBarIcon"></i>
            <input type="checkbox" data-bind="checked: ShowOnActionBar, disable: LockOnActionBar" />
        </label>
    </div>
    <!--/ko -->
</div>
<div data-bind="visible: CurrentTab() == 'options'" class="tab options">
    <h3>Rules</h3>
    <p>Roll monster HP when adding to combat:
        <input type="checkbox" data-bind="checked: RollHp" />
    </p>
    <p>Allow combatants to have negative hit points:
        <input type="checkbox" data-bind="checked: AllowNegativeHP" />
    </p>
    <p>Automatically prompt for concentration checks:
        <input type="checkbox" data-bind="checked: AutoCheckConcentration" />
    </p>
    <h3>Encounter View</h3>
    <p>Display Round Counter:
        <input type="checkbox" data-bind="checked: DisplayRoundCounter" />
    </p>
    <p>Display Turn Timer:
        <input type="checkbox" data-bind="checked: DisplayTurnTimer" />
    </p>
    <p>Display Encounter Difficulty:
        <input type="checkbox" data-bind="checked: DisplayDifficulty" />
    </p>
    <h3>Player View</h3>
    <p>Display Round Counter:
        <input type="checkbox" data-bind="checked: PlayerViewDisplayRoundCounter" />
    </p>
    <p>Display Turn Timer:
        <input type="checkbox" data-bind="checked: PlayerViewDisplayTurnTimer" />
    </p>
    <p>Monster HP Verbosity:
        <select data-bind="options: HpVerbosityOptions, value: HpVerbosity"></select>
    </p>
    <p>Hide monsters when encounter is not active:
        <input type="checkbox" data-bind="checked: HideMonstersOutsideEncounter" />
    </p>
    <p>Allow players to suggest damage/healing:
        <input type="checkbox" data-bind="checked: PlayerViewAllowPlayerSuggestions" />
    </p>
</div>
<div data-bind="visible: CurrentTab() == 'account'" class="tab account">
    <h3>Local Data</h3>
    <p>Export your user data as JSON:
        <span class="button" data-bind="click: ExportData">Download File</span>
    </p>
    <p>Import an exported user data file:
        <input type="file" accept=".json" data-bind="event: { change: ImportData }" />
    </p>
    <p>Import statblocks from DnDAppFile:
        <input type="file" accept=".xml" data-bind="event: { change: ImportDndAppFile }" />
    </p>
    <h3>Account Sync</h3>
    <!-- ko if: IsLoggedIn -->
        <!-- ko if: HasStorage -->
            <p>Account Sync is enabled. Thank you for your pledge!</p>
        <!-- /ko -->
        <!-- ko ifnot: HasStorage -->
            <p>You're logged in with Patreon, but you're not at the <a href="https://www.patreon.com/bePatron?c=716070&rid=1322253" target="_blank">Account Sync</a> reward level.</p>
        <!-- /ko -->
    <!-- /ko -->
    <!-- ko ifnot: IsLoggedIn -->
        <p>Log in with Patreon to access patron benefits. Account Sync allows you to access your custom statblocks and encounters from anywhere!</p>
        <a class="login button" data-bind="attr: { href: PatreonLoginUrl }">Log In with Patreon</a>
    <!-- /ko -->
</div>
<div class="button save-and-close" data-bind="click: SaveAndClose">Save and Close</div>