<input class="filter-library" placeholder="Filter..." data-bind="textInput: LibraryFilter" />
<ul class="entries" data-bind="foreach: FilteredStatBlocks">
    <li>
        <span class="fa" data-bind="click: $parent.ClickEntry, text: CurrentName"></span>
        <!-- ko if: Origin === "account" -->
        <span class="fa fa-cloud" title="Synced with your Patreon account"></span>
        <!-- /ko -->
        <span class="fa fa-edit" data-bind="click: $parent.ClickEdit"></span>
        <span class="fa fa-search preview" data-bind="hoverPop: { selector: '.preview.statblock', data: $parent.PreviewStatBlock }"></span>
    </li>
</ul>
<div class="buttons">
    <span data-bind="click: ClickHide" title="Hide Libraries" class="button fa fa-chevron-up"></span>
    <span data-bind="click: ClickAdd" title="Add new statblock" class="button fa fa-plus"></span>
</div>
<div class="preview statblock" data-bind="visible: PreviewVisible, component: { name: 'defaultstatblock', params: { statBlock: GetPreviewStatBlock } }"></div>
