<div class='add-tag'>
    <div>
        Add a note to <span data-bind="text: DisplayName"></span>: 
        <input id='tag-text' class='response' data-bind="awesomplete: Conditions" />
        <div class="button fa fa-hourglass" data-bind="click: ToggleAdvanced"></div>
    </div>
    <div class='tag-advanced' data-bind="visible: Advanced">
        ...until 
        <select id='tag-timing' class='response'>
            <option value="start">start of</option>
            <option value="end">end of</option>
        </select>
        <select id='tag-timing-id' class='response' data-bind="foreach: Combatants">
            <option data-bind="value: Id, text: DisplayName, selected: $parent.IsActive"></option>
        </select>'s turn in <input type='number' id='tag-duration' class='response' value='1' /> round
    </div>
</div>
<button type='submit' class='fa fa-check button'></button>