.hop {
  animation-name: hop;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.5);
}
@keyframes hop {
  20%,
  30% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-5px);
  }
}

.glow {
  animation-name: glow;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes glow {
  0% { box-shadow: 0 0 2px rgba(0, 0, 255, 0.5); }
  50% { box-shadow: 0 0 6px rgba(0, 0, 255, 1); }
  100% { box-shadow: 0 0 2px rgba(0, 0, 255, 0.5); }
}

// @keyframes glow {
//   0% { box-shadow: 0 0 3px rgba(0, 0, 255, 0.5); }
//   50% { box-shadow: 0 0 8px rgba(0, 0, 255, 1); }
//   100% { box-shadow: 0 0 3px rgba(0, 0, 255, 0.5); }
// }

// @keyframes glow {
//   0% { box-shadow: 0 0 2px rgba(227, 152, 43, 0.5); }
//   50% { box-shadow: 0 0 6px rgba(227, 152, 43, 1); }
//   100% { box-shadow: 0 0 2px rgba(227, 152, 43, 0.5); }
// }

// @keyframes glow {
//   0% { box-shadow: 0 0 3px rgba(227, 152, 43, 0.5); }
//   50% { box-shadow: 0 0 8px rgba(227, 152, 43, 1); }
//   100% { box-shadow: 0 0 3px rgba(227, 152, 43, 0.5); }
// }

// @keyframes glow {
//   0% { box-shadow: 0 0 2px rgba(51, 153, 102, 0.5); }
//   50% { box-shadow: 0 0 6px rgba(51, 153, 102, 1); }
//   100% { box-shadow: 0 0 2px rgba(51, 153, 102, 0.5); }
// }

// @keyframes glow {
//   0% { box-shadow: 0 0 3px rgba(51, 153, 102, 0.5); }
//   50% { box-shadow: 0 0 8px rgba(51, 153, 102, 1); }
//   100% { box-shadow: 0 0 3px rgba(51, 153, 102, 0.5); }
// }

// @keyframes glow {
//   0% { box-shadow: 0 0 2px rgba(115, 26, 0, 0.5); }
//   50% { box-shadow: 0 0 6px rgba(115, 26, 0, 1); }
//   100% { box-shadow: 0 0 2px rgba(115, 26, 0, 0.5); }
// }

// @keyframes glow {
//   0% { box-shadow: 0 0 3px rgba(115, 26, 0, 0.5); }
//   50% { box-shadow: 0 0 8px rgba(115, 26, 0, 1); }
//   100% { box-shadow: 0 0 3px rgba(115, 26, 0, 0.5); }
// }
