.hop {
  animation-name: hop;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.5);
}
@keyframes hop {
  20%,
  30% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-5px);
  }
}
