<div class="tabs">
    <div data-bind="click: showTab, tab: 'about'">About</div>
    <div data-bind="click: showTab, tab: 'commands'">Commands</div>
    <div data-bind="click: showTab, tab: 'settings'">Settings</div>
</div>
<div class="about">
    <p><strong>Improved Initiative</strong> was created by <a href="mailto:improvedinitiativedev@gmail.com">Evan Bailey</a>. All Wizards of the Coast content provided under terms of the <a href="{{rootDirectory}}/SRD-OGL_V1.1.pdf" target="_blank">Open Gaming License Version 1.0a</a>.</p>
</div>
<div class="commands">
<!--ko foreach: Commands -->
<div>
    <div class="label" data-bind="text: Description"></div>
    <input class="keybinding" type="text" data-bind="value: KeyBinding" />
    <span class="fa actionbaricon" data-bind="css: ActionBarIcon"></span>
    <input class="showonactionbar" title="Show on Action Bar" type="checkbox" data-bind="checked: ShowOnActionBar, disable: LockOnActionBar" />
</div>
<!--/ko -->
<div class="savekeybindings"><input type="button" value="Save and Close" data-bind="click: ToggleCommandDisplay" /></div>
</div>