.combatants {
  overflow-y: auto;
  flex-shrink: 1;
  border: 1px solid @accent-white;
}

@keyframes slide-from-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

#tracker {
  .combatant:hover {
    background-color: @hover-white;
  }

  .combatant .combatant__hp:hover {
    background-color: @hover-red;
  }
}

.combatant {
  span {
    display: flex;
  }

  display: flex;
  padding: @medium-spacer;
  border-left: @active-combatant-indicator-width solid;
  align-items: flex-start;

  .fa-clickable {
    padding: @extra-small-spacer;
  }

  .fa-clickable:hover {
    color: @hover-green;
  }

  .colors(@primary-black, @primary-white, transparent);

  &:nth-child(2n-1) {
    background-color: @zebra-white;
  }

  &.animate {
    animation: slide-from-left 0.5s;
  }

  &.active .combatant__name {
    font-weight: bold;
  }

  &.active {
    border-color: @primary-red;
    background-color: @active-white;
  }

  &.selected {
    background-color: @selected-light;
  }
}

.combatant--header {
  .colors(@primary-white, @primary-grey, @primary-grey);
  display: flex;
  flex-flow: row;
  padding: @medium-spacer;
  border-left: @active-combatant-indicator-width solid @primary-grey;
  align-items: baseline;

  span {
    display: flex;
  }

  .fa-clickable {
    padding-left: @medium-spacer;
  }
}

.combatant__leftsection {
  flex-basis: 60%;
}

.combatant__rightsection {
  flex: 1;
}

.combatant__initiative {
  width: 40px;
  justify-content: center;
  &.fa-link:before {
    font-size: 60%;
    vertical-align: top;
  }
}

.combatant__name {
  flex-grow: 1;
  flex-basis: 40%;
  overflow-x: hidden;
}

.combatant__hp {
  align-self: stretch;

  width: 70px;
  justify-content: center;
}

.combatant__ac {
  width: 30px;
  justify-content: center;
}

.combatant__ac--revealed-badge {
  font-size: 80%;
  position: absolute;
  right: -8px;
  top: 0;
}

.combatant__tags {
  flex: 1;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.combatant .tag {
  padding-right: @extra-small-spacer;
  flex-shrink: 1;
}

.combatant .tag__text {
  display: block;
  flex-shrink: 1;
  text-align: right;
}
