.c-library-manager {
  display: "flex";
  flex-flow: row;
  flex-grow: 1;
  justify-content: center;
}

.c-library-manager__center {
  margin: @large-spacer;
}

.c-library-manager__selection,
.c-library-manager__editor {
  .card();
}

.c-library-manager__info {
  margin: @large-spacer;
}

.c-library-manager__editor {
  margin: @large-spacer;
  width: 720px;
}
