@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i|Spectral+SC:400,400i,700,700i");
@import "colors.less";
@import "node_modules/@fortawesome/fontawesome-free/less/solid.less";
@import "node_modules/@fortawesome/fontawesome-free/less/regular.less";
@import "node_modules/@fortawesome/fontawesome-free/less/fontawesome.less";

@import (inline) "node_modules/awesomplete/awesomplete.css";
@import (inline) "node_modules/tippy.js/dist/tippy.css";
//Spacers
@extra-small-spacer: 0.125rem;
@small-spacer: 0.25rem;
@medium-spacer: 0.5rem;
@large-spacer: 1rem;
@larger-spacer: 2rem;
@active-combatant-indicator-width: 8px;
@border-radius: 0;
@prompt-minimum-height: 42px;
@fixed-column-width: 375px;
@scrollbar-width: 14px;
// Typography
@font-family-serif: "Spectral SC", serif;
@font-family-sans-serif: "Roboto", sans-serif;
@font-family-headers: @font-family-serif;
@font-family-body: @font-family-sans-serif;
@font-size-h1: 2.75rem;
@font-size-h2: 1.25rem;
@font-size-h3: 1.75rem;
@font-size-h4: 1.15rem;
@font-size-large: 1.5rem;
@font-size-body: 1rem;
@font-size-small: 0.875rem;
@font-size-mice: 0.75rem;
//elements
*,
::after,
::before {
  box-sizing: border-box;
}

:focus {
  outline: @primary-red auto 5px;
}

* {
  font-family: @font-family-body;
  position: relative;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
  border-color: @shadow;
  box-shadow: @shadow;
}

body,
html {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  cursor: default;
  color: @primary-black;
}

#tracker,
#playerview {
  background: #f4efe7 url("../img/paper-bg.jpg") no-repeat top/cover;
}

#tracker {
  font-size: 14px;
}

#playerview {
  font-size: 20px;
}

div {
  display: flex;
  flex-direction: column;
  min-height: 0;
  max-height: 100%;

  & > * {
    min-width: 0;
    min-height: 0;
    max-height: 100%;
    max-width: 100%;
  }
}

div.awesomplete > ul {
  max-height: unset;
}

a,
a * {
  cursor: pointer;
}

h1,
h2,
h3,
h4 {
  font-family: @font-family-headers;
  color: @primary-red;
}

h1 {
  font-family: @font-family-headers;
  font-size: @font-size-h1;
}

h2 {
  margin: @extra-small-spacer 0 @medium-spacer;
  font-size: @font-size-h2;
  font-weight: normal;
  color: @primary-black;
}

h3 {
  margin: @medium-spacer 0 @extra-small-spacer;
  font-size: @font-size-h3;
  line-height: 1;
}

h4 {
  margin: @extra-small-spacer @extra-small-spacer @medium-spacer;
  font-size: @font-size-h4;
}

ul.bulleted {
  padding-left: 20px;
}

input[type="number"] {
  width: 80px;
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

input,
textarea {
  .colors(@primary-black, @input-white);
  padding: @medium-spacer;
  border: 1px solid @primary-black;
}
//Common
@import "buttons.less";

.hop {
  animation-name: hop;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.5);
}
@keyframes hop {
  20%,
  30% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-5px);
  }
}

.absolute-center {
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
@import "overlay.less";

.preview.statblock {
  .card-bg-2(@large-spacer, @large-spacer);
  z-index: 4;
  max-height: 90%;
  border: none;
}

@import "tutorial.less";

body > .login.button {
  display: block;
  position: fixed;
  bottom: 0;
  right: @large-spacer;
  z-index: 1;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
@import "settings.less";

.social-media {
  display: none;
}

.modal-blur {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: @modal-background-color;
}

.recessed {
  .colors(@primary-black, @primary-white);
  margin: @medium-spacer;
  padding: @medium-spacer;
  border-radius: @border-radius;
  box-shadow: 2px 2px 1px inset;
}

.card-bg (@margin, @padding) {
  .colors(@primary-black, @primary-white);
  margin: @margin;
  padding: @padding;
  background-color: @primary-white;
  border-radius: 0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25), 0 7px 14px rgba(0, 0, 0, 0.25);
}

.card-bg-2 (@margin, @padding) {
  .colors(@primary-black, @primary-white);
  margin: @margin;
  padding: @padding;
  background-color: @primary-white;
  border-radius: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card {
  .colors(@primary-black, @primary-white);
  margin: @medium-spacer;
  padding: @medium-spacer;
  border-width: 2px;
  border-style: solid;
  border-radius: @border-radius;
  box-shadow: 2px 2px 1px;
}
//Layout
@import "landing.less";
@import "tracker.less";
@import "libraries.less";
@import "listing.less";
@import "toolbar.less";

.scrollframe {
  flex-shrink: 1;
  overflow-y: scroll;
}
@import "spell-editor.less";
@import "statblock-editor.less";

.c-tabs {
  justify-content: center;
  flex-flow: row wrap;
  margin: @medium-spacer 0 0 0;

  .c-tab {
    background-color: @active-white;
    &:hover {
      background-color: @selected-light;
    }
    &.selected,
    &.s-selected {
      background-color: @primary-red;
      color: @primary-white;
      min-width: auto;
      overflow-x: unset;

      &:hover {
        background-color: @accent-red;
      }
    }

    flex: 1;
    padding: @medium-spacer @small-spacer;
    margin-right: @extra-small-spacer;
    border-style: none;
    border-radius: 0 @border-radius 0 0;
    align-items: center;
    text-align: center;
    overflow-x: hidden;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.c-checkbox-label {
  padding-right: @small-spacer;
}

@import "statblock.less";
@import "combat-footer.less";
@import "combatants.less";
@import "prompts.less";
@import "player-view.less";
@import "responsive.less";
@import "spell.less";
