@media (max-width: 800px), (max-height: 560px) {
    .logo {
        display: none;
    }
}

//Two columns
@media(max-width: 1200px) {
    @touch-button-padding: 15px;

    #tracker {
        .entries span, input, .combatant, .button {
            padding: @touch-button-padding;
        }
        .toolbar-narrow {
            width: 52px;
            .scrollframe {
                width: 68px;
            }
        }
    }

    #tracker.show-left-center-right {
        .right-column {
            display: none;
        }
    }

    #tracker.show-right-center-left {
        .left-column {
            display: none;
        }
    }

    #tracker.show-center-right-left {
        .left-column {
            display: none;
        }
    }
}

@media(max-width:900px) {
    #tracker {
        .combatant .name {
            width: 25%;
        }

        .left-column, .right-column, .preview.statblock {
            width: 300px;
        }
    }
}

//One column
@media(max-width: 700px) {
    body>.login.button {
        display: none;
    }

    #tracker.show-left-center-right {
        .left-column {
            width: auto;
            flex-grow: 1;
            flex-shrink: 1;
        }

        .right-column, .center-column {
            display: none;
        }
    }

    #tracker.show-right-center-left {
        .right-column {
            width: auto;
            flex-grow: 1;
            flex-shrink: 1;
        }

        .left-column, .center-column {
            display: none;
        }
    }

    #tracker.show-center-right-left {
        .left-column, .right-column {
            display: none;
        }
    }
}